<div layout="column" layout-margin layout-padding ng-controller="AddController">

	<md-card layout="column" layout-margin layout-padding layout-align="center center" class="md-warm" flex>
		
		<h3>Add</h3>

	</md-card>		

</div>




