<div layout="column" layout-margin layout-padding flex>

	<md-card layout="column" layout-margin layout-padding layout-align="center center" class="md-warm" flex>
		
		<img src="<%= image_url('logo.png') %>" style="height: 200px; width: 200px;" />
		<br/>

		<span><strong>Heading</strong></span>
		<br/>

		&copy; 2015 Company Name

	</md-card>		

</div>




