/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: asset-url('fontawesome-webfont.eot?v=4.4.0');
  src: asset-url('fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'), asset-url('fontawesome-webfont.woff2?v=4.4.0') format('woff2'), asset-url('fontawesome-webfont.woff?v=4.4.0') format('woff'), asset-url('fontawesome-webfont.ttf?v=4.4.0') format('truetype'), asset-url('fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.img-circle {
    border-radius: 50%;
}
