<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <link rel="shortcut icon" type="image/png" href="<%= image_url('favicon.ico') %>"/>

    <%= stylesheet_link_tag 'application', media: 'all'%>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
      google.load("search", "1");
      google.load('maps', '3', {other_params:'libraries=places'});
      google.load('visualization', '1.0', {'packages':['corechart']});
    </script>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-touch.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.3.0/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    
    <%= javascript_include_tag 'application'%>
    <%= javascript_include_tag 'app'%>
    <%= javascript_include_tag 'controllers'%>

    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width">

    <title>appname</title>
    <META NAME="Description" CONTENT="">

    <META NAME="author" CONTENT="<author>">
    <META NAME="subject" CONTENT="<subject>">    
    <META NAME="Classification" CONTENT="website">
    <META NAME="Keywords" CONTENT="<keywords>">
    <META NAME="Copyright" CONTENT="<company name>">
    <META NAME="distribution" CONTENT="Global">
    <META NAME="Robots" CONTENT="INDEX,FOLLOW">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="<app name>">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="http://www.yourdomain.com/logo.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@appname">
    <meta name="twitter:title" content="title">
    <meta name="twitter:description" content="">
    <meta name="twitter:creator" content="@authername">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.yourdomain.com/logo.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="appname" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.yourdomain.com" />
    <meta property="og:image" content="http://www.yourdomain.com/logo.png" />
    <meta property="og:description" content="" />
    <meta property="og:site_name" content="sitename" />
    <meta property="fb:admins" content="adminid" />
    <meta property="fb:app_id" content="appid" />

</head>

<body layout="column" ng-controller="AppController" ng-cloak>

    <md-toolbar ng-if="true">

      <div class="md-toolbar-tools">

        <span>
            <img src="<%= image_url('logo.png')%>" style="height:30px;"/>
        </span>

        <span flex></span>        

        <md-button class="md-icon-button" ng-click="showAdd()" ng-show="isSignedIn" class="animate-show" aria-label="Add">        
            <md-icon>add_circle</md-icon>
            <md-tooltip>Add</md-tooltip>
        </md-button>

        <md-button class="md-icon-button" ng-click="showAbout()" class="animate-show" hide-sm aria-label="About">        
            <md-icon>info</md-icon>
            <md-tooltip>About</md-tooltip>
        </md-button>

        <div ng-show="!isSignedIn" class="animate-show">
            <md-button ng-click="signIn()">
                <md-icon md-font-icon="fa-facebook-official" class="fa fa-lg"></md-icon>
                Login
            </md-button>
        </div>
            
        <md-button ng-show="isSignedIn" class="animate-show" hide-sm>
            <md-icon>
                <img ng-src="{{ userAvatar }}" class="img-circle" style="height:24px; width:24px" />
            </md-icon>
            <span ng-show="isSignedIn" class="animate-show"> {{ userName }} </span>
        </md-button>
            
        <md-button ng-click="signOut()" ng-show="isSignedIn" class="animate-show">
            Sign Out
        </md-button>

      </div>

    </md-toolbar>

    <%= yield %>

</body>

</html>